
@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Serif:400,400i,700,700i');


#services {
  position: relative;
  padding: 0px;
  margin: 0;
  width: 100%;

}

#price-service {
  position: absolute;
  top: 30px;
  left: 70px;
  margin-left: 55.2%;
  margin-bottom: 0px;
}

#summary {
  position: relative;
  margin-right: 17%;
  margin-left: 14%;
  line-height: 1.3;
  margin-bottom: -20px;
  margin-top: -35px;
  top:45px;

  font: 16px "Audible Sans",Arial,sans-serif;
  color: rgba(9, 9, 9, 0.65);
  align-content: center;
}
.summary-heading {
  color: #141414;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: -5px;
}
.publisher-summary {
  color: rgba(20, 20, 20, 0.65);
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 160px;
  height: 7px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  color: rgb(20, 240, 221);
}


.wrapper {
  margin-left: 125px;
}

.reviewsShell {
  margin-top: -100px;
}
#reviews {
  position: relative;
  left: -25px;
  margin-top: -600px;
  margin-right: -5%;
  margin-left: 15%;
  width: 100%;
  bottom:-15px;
  font-size: 16px;
}

.reviewTitle {
  color: black
}

/* body {
  padding: 0px 0px 0px 0px !important;
} */
html {
  display: block;
  margin: 0px 0px 0px 0px !important;
  padding: 0px !important;
  -webkit-text-size-adjust: 100%;
}
.review-list {
  margin-left: 12px;
}
#also-enjoyed-service {
  margin-bottom: 20px;
}
#aggReview {
  max-width: 1000px;
  margin: auto;
  margin-bottom: -55px;
  margin-top: -10px;
  padding-left: 8px;
  padding-right: 10px;
}

@media (max-width:960px ) {
  #services {
    position: relative;
    padding: 0px;
    margin-left: 0px;
    width: 100%
  }
  .background-image {
    margin-left: -20%;
}
  body {
  padding: 0px !important;

  }

  #summary {
    margin-top: -55px;
    margin-right:18px;
    margin-left: 14px;
    margin-bottom: -65px;
    width: 100%;
    text-align: left;
    font:Arial,sans-serif;
    padding-bottom: 0px 0px 0px 0px;
  }
  p {
    margin-right:18px;
  }
  .copyright {
    margin-right:18px;
  }
  .summary-heading h2 {
    text-align: left;
    font-size: 16px;
    margin-left:2px;
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .table1 {
    padding: 0px;
    color: rgba(20, 20, 20, 0.65);
    font-family: "Audible Sans", Arial, sans-serif;
    text-align: left;
    margin-left: 12px;
    margin-right: -15px;
    margin-bottom: -35px;
    line-height: 10px;
    line-height: 1.3;
    width: 100%;
  }
  .overallRating {
    display: block;
    margin-bottom: 8px;
    margin-top: 5px;
    margin-left: -25px;
    font-weight: bolder;
    font-size: 24px;
    color: black;
    line-height: 36px;
    font-weight: 600;
    font-family: "Audible Sans", Arial, sans-serif;
  }
div.overallRating{
 margin-left: -52%;
}
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;

    width: 150%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    color: rgb(20, 240, 221);
  }
  .main-heading{
    display: block;
    margin-bottom:-5px;
    margin-top: -55px;
    margin-left: 75px;
    margin-right: 25px;
    width: 80%;
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    line-height: 34px;
  }
  .overallRating{
    margin-right: 0px;
    margin-left: -85px;
    line-height: 34px;
  }
  #aggReview {
    margin-top: 25px;
    margin-right: 0px;
    margin-left: -1px;
    margin-bottom: -20%;
    font-size: 12px;
    width: 90%;
  }
  .table1 {
    margin-bottom: -45px;
  }

  #reviews .reviewsShell{
    margin-top: -40px;
    margin-right:-12%;
    margin-left: 18px;
    width: 120%;
    padding: 0px 0px 0px 0px !important;
  }
  .reviewTitle {
    color: black
  }


#price-service {
  width: 85%;
  margin-top: 580px;
  margin-left: -10%;
  margin-right: 5px;
  height: 120px;
  top:10px;
  bottom:-35px;
  text-align: left;
}
#app {
  border-radius: 4px;
  width: 100%;
  margin-right: 15px;
  font: 16px Arial,sans-serif;
  background: rgb(62, 62, 62);
}
.priceBody {
  margin-left: 10%;
  margin-right: 15%;
}


html {
  padding: 0px;
  margin-top: 0px;
}

}


@media (max-width: 560px) {
html {
  padding: 0px !important;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}
.overall {
  margin-left: -35px;
  margin-right: -35px;
  margin-top: -10px;
  padding: 0px;
  color: rgba(20, 20, 20, 0.65);
  font-family: "Audible Sans", Arial, sans-serif;
  font-size: 15px;
  text-align: "center";
  line-height: 10px;
  line-height: 1.8;
  width: 250%;
}
.main-heading{
  display: block;
  margin-bottom:8px;
  margin-top: -55px;
  margin-left: 55px;
  margin-right: 25px;
  width: 80%;
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
}

}

body {
  margin: 0px;
  padding: 0px;
}

#summary {
  max-width: 1000px;
  margin: auto;
  margin-top: -20px;
  padding-left: 10px;
  padding-right: 10px;
}

/*/////////////////////
/////  HEADER  ////////
/////////////////////*/

.main-header {
  height: 120px;
}

.header-container {
  max-width: 1000px;
  margin: auto;
}
.right-side {
  float: right;
  width: 250px;
  text-align: right;
  margin-top: 20px;
}
.right-side a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: black;
}
.right-side a:hover {
  text-decoration: underline;
}
.right-side img {
  margin-top: 20px;
}
.header-logo-desktop {
  float: left;
  margin-top: 50px;
}
/* Hide mobile elements on desktop*/
.header-logo-mobile {
  display: none;
}
.header-nav-mobile {
  display: none;
}
.search-box-mobile {
  display: none;
}

@media (max-width: 960px) {
  .main-header {
    background-color: rgb(20, 20, 20);
    height: 45px;
  }
  .header-nav-mobile {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
  .header-logo-mobile {
    display: block;
    width: 35px;
    height: 35px;
    padding-top: 5px;
    margin: auto;
  }
  .search-box-mobile {
    display: block;
    float: right;
    width: 30px;
    margin-top: 8px;
    margin-right: 10px;
  }


  /* hide the desktop elements*/
  .right-side {
    display: none;
  }
  .header-logo-desktop {
    display: none;
  }
  .search-box {
    display: none;
  }
  .right-side a {
    display: none;
  }
}

